body {
    font-family: Arial;
    padding: 10px;
    width: 200px;
}

button {
    background-color: #ff4d4d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}